.incomPart .ant-steps {
  padding: 0 10%;
}
.incomPart .ant-steps .ant-steps-item {
  height: 2.6042vw;
  display: flex;
  align-items: center;
}
.incomPart .ant-steps .ant-steps-item .ant-steps-item-icon {
  width: 1.6667vw;
  height: 1.6667vw;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 1.25vw;
}
.incomPart .ant-steps .ant-steps-item .ant-steps-item-title {
  font-size: 14px;
  line-height: 1.6667vw;
}
.incomPart .ant-steps .ant-steps-item.ant-steps-item-process .ant-steps-item-icon {
  background-color: #1890ff;
  border-color: #1890ff;
}
.incomPart .ant-steps .ant-steps-item.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: #1890ff;
  border-color: #1890ff;
}
.stepPanel {
  width: 100%;
  margin-top: 1.5625vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stepPanel .panelItem {
  width: 100%;
  margin-top: 1.5625vw;
}
.stepPanel .panelItem .lineBox {
  height: 1.5625vw;
  margin: 1.0417vw 0px;
  border-top: 1px solid #f6f6f6;
  position: relative;
}
.stepPanel .panelItem .lineBox h3 {
  height: 100%;
  color: #1890ff;
  position: absolute;
  top: -50%;
  left: 10%;
  letter-spacing: 2px;
  padding: 0px 0.5208vw;
  background-color: #ffffff;
}
.stepPanel .panelItem .panelItemDetail {
  width: 100%;
}
.dialogRow {
  max-height: 60vh;
}
.dialogRow .ant-row {
  padding-left: 1.6667vw;
  margin-bottom: 1.0417vw;
}
.dialogRow .ant-row .gutter-row .gutterItem {
  display: flex;
  gap: 0.5208vw;
}
.dialogRow .ant-row .gutter-row .gutterItem .leftTitle {
  min-width: 7.8125vw;
  font-size: 14px;
  color: #596780;
  font-weight: 600;
}
.dialogRow .ant-row .gutter-row .gutterItem .rightContent {
  flex: 1;
}
